extends layout

block content
    #banner.page-header
        .row
            .col-md-6.col-sm-12
                h1= title
    .row
        .col-md-6.col-sm-12
            p
                | Loc8r was created to help people find places to sit down adn get a bit of work done.
                | <br /><br />
                | Yuccie pabst listicle, next level ramps pinterest ethical selfies gochujang. Kogi cardigan butcher organic. Keytar godard retro DIY, banjo bespoke four dollar toast selfies narwhal poutine. Venmo meh cardigan, mixtape synth marfa semiotics fixie brooklyn fap. Yr microdosing squid, truffaut before they sold out artisan pork belly plaid pinterest brooklyn jean shorts cred kitsch offal. Messenger bag fixie neutra chicharrones intelligentsia 8-bit. Man bun put a bird on it meh tattooed pinterest scenester.
                | <br /><br />
                | Butcher before they sold out ethical man braid man bun. Kogi salvia bespoke, venmo normcore man braid direct trade man bun photo booth stumptown marfa. Tacos plaid meditation, pickled health goth keytar intelligentsia helvetica ugh pug 3 wolf moon shoreditch ennui. Deep v fanny pack ugh swag typewriter art party. Freegan tumblr flannel truffaut biodiesel, lomo banh mi ramps tousled gentrify heirloom church-key kogi irony. Distillery pinterest ramps portland 3 wolf moon, gentrify put a bird on it cliche tumblr knausgaard shoreditch. Pour-over gentrify next level poutine celiac church-key, typewriter raw denim kinfolk cronut meh ugh letterpress.